</body>
</head>
<form action="" class="am-form" data-am-validator>
  <fieldset>
    <legend>联系我们</legend>
    <div class="am-form-group">
      <label for="doc-vld-name-2">姓名：</label>
      <input type="text" id="doc-vld-name-2" minlength="3" placeholder="为了方便联系请如实填写" required/>
    </div>

    <div class="am-form-group">
      <label for="doc-vld-email-2">邮箱：</label>
      <input type="email" id="doc-vld-email-2" placeholder="输入邮箱" required/>
    </div>

    <div class="am-form-group">
      <label for="doc-vld-url-2">电话：</label>
      <input type="url" id="doc-vld-url-2" placeholder="为了能够更好的解决您的问题，请如实填写" required/>
    </div>

    <div class="am-form-group">
      <label for="doc-vld-age-2">年龄：</label>
      <input type="number" class=""  id="doc-vld-age-2" placeholder="输入年龄" required />
    </div>
    <div class="am-form-group">
      <label>性别： </label>
      <label class="am-radio-inline">
        <input type="radio"  value="" name="docVlGender" required> 男
      </label>
      <label class="am-radio-inline">
        <input type="radio" name="docVlGender"> 女
      </label>
    </div>
      <span class="am-form-caret"></span>
    </div>
    <div class="am-form-group">
      <label for="doc-vld-ta-2">具体内容：</label>
      <textarea id="doc-vld-ta-2" minlength="10" maxlength="100"></textarea>
    </div>

    <button class="am-btn am-btn-secondary" type="submit">感谢您让我成长</button>
  </fieldset>
</form>