 </head>
<body>

<header class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#"><img src="__STATIC_URL__/assets/images/header.png" alt=""></a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class=""><a href={:url('index/index/index')}>首页</a></li>
                <li><a href={:url('index/picture/index')}>图片</a></li>
                <li><a href={:url('index/article/index')}>文章</a></li>
                <li><a href={:url('index/video/index')}>视频</a></li>
                <li><a href="profile.html">商城</a></li>
             {if !empty($Think.session.user)}
                <li><a href={:url('index/user/profile')}>个人中心</a></li>
             {/if}
            </ul>
         {if empty($Think.session.user)}
         <span class='denglu' name=0></span>
            <div class="am-topbar-right">
                <button class="am-btn am-btn-default am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span><a href={:url('index/auth/login')}>登录</button>
            </div>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> <a href={:url('index/auth/register')}>注册</a></button>
            </div>
        {else}
        <span class='denglu' name=1 uid={$info['user_id']}></span>
            {if $Think.session.user == 'admin123321'}

             <div class="am-topbar-right">
                    <button class="am-btn am-btn-default am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span><a href={:url('index/admin/login')}>管理员专用</button>
                </div>
                {/if}
                <div class="am-topbar-right">
                    <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> <a href={:url('index/auth/logout')}>退出登录</a></button>
                </div>
                
        {/if}
            
        </div>
        
    </div>
</header>

<div class="category2top">
    <div class="am-g am-container userinfo">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-5 userinfo_left">
            <div class="am-g">
                <div class="am-u-md-12 am-u-lg-6 userface">
                    <img src={$info['picture']}>
                </div>
                <div class="am-u-md-12 am-u-lg-6 userin">
                    <h3>{$info['user_name']}</h3>
                    <h4 class='am-show-sm-only'>
                        {if empty($info['description'])}
                           很遗憾,小主还没有简介
                        {else}
                            简介：{$info['description']}
                        {/if}
                         
                    </h4>
                     {if $true !== 1}
                          {if $fans == 1}
                            <button type="button" onclick="guanzhu()" class="guanzhu am-btn am-btn-danger default am-round">取消关注</button>
                            <div class='notice' style='height:20px;'></div>
                          {else}
                          <button type="button" onclick="guanzhu()" class="guanzhu am-btn am-btn-danger default am-round">关注</button>
                            <div class='notice' style='height:20px;'></div>
                          {/if}
                        {else}
                        <button type="button"  class="guanzhu am-btn am-btn-danger default am-round">自己就不要关注自己啦</button>
                          <div class='notice' style='height:20px;'></div>
                      {/if}

                    <div class='am-hide-sm-only'> 
                        <p>发布<span class='pushInfo'} style="margin-right:20px;">{$push}</span>
                        {if $true == 1}
                        积分<span style="margin-right:20px;">{$info['grade']}</span></p>
                        <p>粉丝<span style="margin-right:20px;">{$info['fans']}</span>关注<span style="margin-right:20px;">{$info['follow']}</span></p>
                        <p>收藏<span style="margin-right:20px;">{info['collect']}</span></p>
                        {/if}
                    </div>
                    <div class='am-show-sm-only'>
                         <p>发布<span  class='pushInfo' style="margin-right:20px;">{$push}</span>
                         {if $true == 1}
                         积分<span style="margin-right:20px;">{$info['grade']}</span>粉丝<span style="margin-right:20px;">{$info['fans']}</span>关注<span style="margin-right:20px;">{$info['follow']}</span>收藏<span style="margin-right:20px;">{info['collect']}</span></p>
                        {/if}
                    </div>                  
                </div>
            </div>  
            </div>
                      <div class="am-u-sm-0 am-u-md-12 am-u-lg-4 am-show-lg-only userinfo_center">
                      
                          {if empty($info['description'])}
                              很遗憾,小主还没有简介
                          {else}
                              简介：{$info['description']}
                          {/if}

                        </div>


                  </div>

          </div>

               

 </div> 
  <div class="am-g am-container padding-none">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
            <h2 class="am-titlebar-title ">
                发表过的图片
            </h2>
        </div>
        <div data-am-widget="list_news" class="am-list-news am-list-news-default ">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    {foreach $pic as $key=>$value}

                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="border-top: 0px">
                        <div class="am-u-sm-5 am-list-thumb">
                            <a href="{:url('index/picture/picInfo')}?id={$value['pic_id']}">
                                <img src={$value['picture'][0]} class='am-img-thumbnail' alt={$value['title']}/>
                            </a>
                        </div>

                        <div class=" am-u-sm-7 am-list-main">
                            <h1 class="am-list-item-hd"><a href="{:url('index/picture/picInfo')}?id={$value['pic_id']}">{$value['title']}</a></h1>

                            <div class="am-list-item-text">{$value["description"]}</div>

                        </div>
                    </li>
                    <div class="newsico am-fr">
                        <i class="am-icon-clock-o">{$value['create_time']}</i>
                        <i class="am-icon-hand-pointer-o">{$value['zan']}</i>
                    </div>
                {/foreach}

                </ul>
            </div>
        </div>
  
  <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
            <h2 class="am-titlebar-title ">
                发表过的文章
            </h2>
        </div>
        <div data-am-widget="list_news" class="am-list-news am-list-news-default ">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    {foreach $art as $value}

                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="border-top: 0px">
                        <div class="am-u-sm-5 am-list-thumb">
                            <a>
                                <img src={$value['picture']} class='am-img-thumbnail' alt={$value['title']}/>
                            </a>
                        </div>

                        <div class=" am-u-sm-7 am-list-main">
                            <h1 class="am-list-item-hd"><a href="{:url('index/article/artInfo')}?id={$value['article_id']}">{$value['title']}</a></h1>

                            <div class="am-list-item-text">{$value["description"]}</div>

                        </div>
                    </li>
                    <div class="newsico am-fr">
                        <i class="am-icon-clock-o">{$value['create_time']}</i>
                        <i class="am-icon-hand-pointer-o">{$value['zan']}</i>
                    </div>
                {/foreach}

                </ul>
            </div>
        </div>
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
            <h2 class="am-titlebar-title ">
                发表过的视频
            </h2>
        </div>
        <div data-am-widget="list_news" class="am-list-news am-list-news-default ">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    {foreach $video as $value}

                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="border-top: 0px">
                        <div class="am-u-sm-5 am-list-thumb">
                            <a>
                                <img src={$value['picture']} class='am-img-thumbnail' alt={$value['title']}/>
                            </a>
                        </div>

                        <div class=" am-u-sm-7 am-list-main">
                            <h1 class="am-list-item-hd"><a href="{:url('index/video/videoInfo')}?id={$value['video_id']}">{$value['title']}</a></h1>

                            <div class="am-list-item-text">{$value["description"]}</div>

                        </div>
                    </li>
                    <div class="newsico am-fr">
                        <i class="am-icon-clock-o">{$value['create_time']}</i>
                        <i class="am-icon-hand-pointer-o">{$value['zan']}</i>
                    </div>
                {/foreach}

                </ul>
            </div>
        </div>
</div>
</div>
</div>
<script type="text/javascript">
    $('body').mousemove(function(){
      $('.notice').html('');
    });
  var denglu = $('.denglu').attr('name');
  //alert($('.denglu').attr('uid'));
  console.log($('.guanzhu').html());
  function guanzhu()
  {
      if (denglu == 0)
      {
        location.href = '{:url("/index/auth/login")}';
      }
      if ($('.guanzhu').html() == '关注' ){

        var uid = $('.denglu').attr('uid');
        $.post("{:url('index/user/guanAdd')}",{uid:uid},function(data){
          if(data){
            $('.guanzhu').html('取消关注');
          }else{
               $('.notice').html('<font color="red">服务器开小差，请重试~</font>');
          }
        });
      }
       if ($('.guanzhu').html() == '取消关注' ){

        var uid = $('.denglu').attr('uid');
        $.post("{:url('index/user/guanDel')}",{uid:uid},function(data){
          if(data){
            $('.guanzhu').html('关注');
          }else{
            $('.notice').html('<font color="red">服务器开小差，请重试~</font>');
          }
        });
      }
  }
</script>