<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/admin/lib/bootstrap/css/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/admin/stylesheets/theme.css">
    <link rel="stylesheet" href="__STATIC_URL__/admin/lib/font-awesome/css/font-awesome.css">
      
    <script src="__STATIC_URL__/admin/lib/jquery-1.7.2.min.js" type="text/javascript"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    
    <link rel="shortcut icon" href="__STATIC_URL__/admin/lib/font-awesome/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__STATIC_URL__/admin/lib/font-awesome/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__STATIC_URL__/admin/lib/font-awesome/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__STATIC_URL__/admin/lib/font-awesome/docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="__STATIC_URL__/admin/lib/font-awesome/docs/assets/ico/favicon.ico">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button" style="font-size: 30px;"><i class='icon-cogs' ></i></a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> 
                                                      {$Request.session.name}
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" class="visible-phone" href="#"><i class='icon-cog'>a</i></a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="__ROOT_URL__/index/exit">退出</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="index.html"><span class="first" style="font-size:30px">食</span> <span class="second" >ྉ域</span></a>
        </div>
    </div>
    


    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>

    
    <div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="Search...">
        </form>





         <a href="__ROOT_URL__/index/home" class="nav-header" ><i class="icon-home"></i>首页</a>


         <a href="__ROOT_URL__/user/userlist" class="nav-header" ><i class="icon-user"></i>用户列表</a>


         <a href="__ROOT_URL__/order/order" class="nav-header" ><i class="icon-inbox"></i>订单列表</a>


        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-sitemap"></i>社区管理</a>
        <ul id="dashboard-menu" class="nav nav-list collapse">
            <li><a href="__ROOT_URL__/community/pic" ><i class="icon-camera"></i>摄影版块</a></li>
            <li ><a href="users.html"><i class="icon-comments"></i>摄影板块评论管理</a></li>

            <li ><a href="__ROOT_URL__/community/article"><i class="icon-file"></i>文章板块</a></li>
            <li ><a href="media.html"><i class="icon-comments"></i>文章板块评论管理</a></li>

            <li ><a href="__ROOT_URL__/community/video"><i class="icon-facetime-video"></i>视频板块</a></li>
            <li><a href="calendar.html" ><i class="icon-comments"></i>视频板块评论管理</a></li>
            
        </ul>



        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-shopping-cart"></i>商城管理<span class="label label-info">+3</span></a>

        <ul id="accounts-menu" class="nav nav-list collapse ">
            <li ><a href="__ROOT_URL__/goods/putaway"><i class="icon-truck"></i>商品上架</a></li>
            <li >

                <a href="#goodsManage-menu"  data-toggle="collapse"><i class="icon-list-ul"></i>商品管理列表</a>
                    <ul id="goodsManage-menu" class="nav nav-list collapse">


                        <li ><a href="__ROOT_URL__/goods/goodsManage/id/0"><i class="icon-hand-right"></i>生鲜类商品管理</a></li>

                        <li ><a href="__ROOT_URL__/goods/goodsManage/id/1"><i class="icon-hand-right"></i>熟食类商品管理</a></li>
                        <li ><a href="__ROOT_URL__/goods/goodsManage/id/2"><i class="icon-hand-right"></i>调料类商品管理</a></li>
                        <li ><a href="__ROOT_URL__/goods/goodsManage/id/3"><i class="icon-hand-right"></i>厨具类商品管理</a></li>
                        <li ><a href="__ROOT_URL__/goods/goodsManage/id/4"><i class="icon-hand-right"></i>其他类商品管理</a></li>



                    </ul>
            </li>
            <li ><a href="reset-password.html"><i class="icon-inbox"></i>订单管理</a></li>
        </ul>



        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>站点管理 <i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="__ROOT_URL__/site/billboard"><i class="icon-cog"></i>广告牌</a></li>
            <li ><a href="__ROOT_URL__/site/links"><i class="icon-paper-clip"></i>友情链接管理</a></li>
            <li ><a href="__ROOT_URL__/site/siteInfo"><i class="icon-list-ol"></i>本站信息页面</a></li>
        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>用户意见表</a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li ><a href="__ROOT_URL__/opinion/solve"><i class="icon-envelope"></i>解决</a></li>
            <li ><a href="__ROOT_URL__/opinion/unsolved"><i class="icon-envelope-alt"></i>未解决</a></li>
        </ul>

        <a href="__ROOT_URL__/forbid/forbid" class="nav-header" ><i class="icon-comment"></i>禁用IP</a>
    </div>


    {__CONTENT__}


    <script src="__STATIC_URL__/admin/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>
